* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 400px;
    height: 500px;
    border: 1px solid;
    margin: 30px auto;
    padding: 20px;
}
h2 {
    font-size: 30px;
}
.container2 {
    margin: 20px;
    padding-left: 20px;
}
li {
    padding-top: 20px;
    font-size: 25px;
    font-weight: 600;
}
audio {
    padding-top: 20px;

}